/*header*/
header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  font-size: 14px;
  font-family: Verdana cursive sans-serif;
  font-weight: bold;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: Verdana
}
.logo {
  display:flex;
  align-items: center;
  flex-grow: 1;
  padding: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
}

}
header a {
  color: black;
  padding: 20px;
}

/* Main Content*/
.content {
display: flex;
width: 1232px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 78px;
margin-left: auto;
padding-top: 116px;
}

div {
  border: 1px solid blue;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/*large column*/

.column.large {
  display: flex;
  width: 630px;
  align-items:flex-start;
  justify-content: space-between;


}

.stories {
  display: flex;
  flex-flow: row;
}

.image {
  display: flex;
  justify-content: normal;
  height: 300px;
  background-color: lightgrey;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}

.tuna {
  background: url(../media/images/img-story-main.png) no-repeat;
}

.earth-spins {
  background: url(../media/images/img-story-2.png) ;
}

.camera {
  background: url(../media/images/img-story-3.png);

}

/*medium column*/

.column.medium {
display: flex;
width: 300px;
}

.cats {
  background-image: url(../media/images/img-story-1.png);
}



/*Small column*/
.column.small {
display: flex;
width: 240px;
flex-direction: column;
margin: 0;

}

.cookie {
  display: flex;
  background-image: url(../media/images/img-news-bite.png);
  justify-content: center;
  align-items: flex-end;
  color: black;
  font-size: 16px;
  font-weight: bold;

}
.bites {
  display: flex;
  margin: 0;
  padding: 12px;
  border-bottom: solid black 1px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

/* Footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;
    background-color: mediumaquamarine;
    font-family: Verdana;
    font-size: 12px;
    margin: auto;
}
footer .title {
  display: inline-block;
  padding-right: 25px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
}


footer nav {
  display: inline-block;
  padding-left: 25px;
}
