/*header*/
header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  font-size: 14px;
  font-family: Verdana cursive sans-serif;
  font-weight: bold;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: Verdana
}
.logo {
  display:flex;
  align-items: center;
  flex-grow: 1;
  padding: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
}

}
header a {
  color: black;
  padding: 20px;
}

/* Main Content*/
.content {
display: flex;
width: 1232px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 78px;
margin-left: auto;
padding-top: 116px;
}

div {
  border: 1px solid blue;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  display: flex;
  width: 630px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.image {
  display: flex;
  justify-content: normal;
  height: 300px;
  background-color: lightgrey;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}

.tuna {
  background: url(../media/images/img-story-main.png) no-repeat;
}

.earth-spins {
  background: url(../media/images/img-story-2.png) ;
}

.camera {
  background: url(../media/images/img-story-3.png);

}

.column.medium {

}
.column.small {

}
